.wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  font-size: var(--editor-text-font-size-helper);
  padding: var(--editor-padding-vertical-medium) 0;

  > span {
    color: var(--editor-text-color-primary);
    white-space: nowrap;
    display: flex;
    align-items: center;

    .desc {
      color: var(--editor-text-color-second);
    }
  }

  > div {
    flex: 1;
    white-space: nowrap;
    margin-left: var(--editor-padding-horizontal-medium);
    overflow-x: auto;
    overflow-y: hidden;
    text-align: right;
  }
}
