.wrapper {
  display: flex;
  justify-content: space-between;
  align-content: center;
  font-size: var(--editor-text-font-size-helper);
  padding: var(--editor-padding-vertical-medium) 0;

  > span {
    display: flex;
    align-items: center;
    color: var(--editor-text-color-primary);

    .desc {
      color: var(--editor-text-color-second);
    }
  }

  > div > div {
    display: flex;
    align-items: center;
    min-width: 90px;
    padding: 6px 11px;
    background-color: #fff;
    color: var(--editor-text-color-second);
    border: 1px solid var(--editor-border-color);
    border-radius: 2px;

    .block {
      display: inline-block;
      width: 16px;
      height: 16px;
      border-radius: 2px;
      margin-right: 4px;
    }
  }
}

:global {
  .ant-popover-inner-content {
    padding: 0 !important;
  }

  .sketch-picker {
    box-sizing: border-box !important;
    width: 100% !important;
    box-shadow: none !important;
  }
}
