.wrapper {
  font-size: var(--editor-text-font-size-helper);

  > p {
    color: var(--editor-text-color-primary);
    margin: 0;
    padding: var(--editor-padding-vertical-medium) 0;

    > span {
      margin-left: 8px;
      color: var(--editor-text-color-thirty);
    }

    .desc {
      color: var(--editor-text-color-second);
    }
  }

  .imgWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    border-radius: 3px;
    border: 1px solid var(--editor-border-color);
    margin-bottom: var(--editor-padding-vertical-medium);

    img {
      width: 64px;
    }

    span {
      display: inline-block;
      flex: 1;
      margin-left: 8px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
