.unioEditorWrapper {
  > div {
    color: var(--editor-text-color-second);
  }

  > ul {
    margin: var(--editor-padding-vertical-small);

    > li {
      position: relative;
      padding: var(--editor-padding-horizontal-medium)
        var(--editor-padding-vertical-medium);
      border: 1px dashed var(--editor-border-color);
      cursor: pointer;

      + li {
        margin-top: var(--editor-padding-horizontal-medium);
      }

      &::before {
        content: attr(data-index);
        display: inline-block;
        position: absolute;
        left: 0;
        opacity: 0;
      }

      .toolboxWrapper {
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        font-size: var(--editor-text-font-size-desc);
        visibility: hidden;

        > div {
          padding: 4px;
        }
      }

      &:hover {
        &::before {
          opacity: 1;
        }
        .toolboxWrapper {
          visibility: visible;
        }
      }
    }
  }
}

.wrapper {
  display: flex;
  height: 100%;
  flex-direction: column;

  > h3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--editor-text-color-primary);
    font-size: var(--editor-text-font-size-title);
    padding: var(--editor-padding-vertical)
      var(--editor-padding-horizontal-medium);
    margin: 0;

    > span:last-of-type {
      cursor: pointer;
    }
  }

  main {
    flex: 1;
    padding: 0px 12px;
    overflow: auto;

    > ul {
      margin: 0;
      flex: 1;
      overflow: auto;
      overflow-x: hidden;

      > li + li {
        margin-top: var(--editor-padding-vertical);
      }
    }
  }
}
