.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;

  h3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--editor-text-color-primary);
    font-size: var(--editor-text-font-size-title);
    padding: var(--editor-padding-vertical)
      var(--editor-padding-horizontal-medium);
    margin: 0;

    > span:last-of-type {
      cursor: pointer;
    }
  }

  main {
    display: flex;
    flex-wrap: nowrap;
    flex: 1;
    overflow: hidden;
    color: var(--editor-text-color-second);

    .tabsWrapper {
      > ul {
        margin: 0;
        padding: 0 var(--editor-padding-vertical-medium);
        font-size: var(--editor-text-font-size-desc);

        > li {
          cursor: pointer;
          padding: 4px 8px;
          margin-bottom: 12px;
          transition: all ease-in-out 0.2s;

          &:hover {
            color: var(--editor-primary-color);
          }

          &.isActive {
            color: #fff;
            background-color: var(--editor-primary-color);
            border-radius: 4px;
          }
        }
      }
    }

    .componentsWrapper {
      flex: 1;
      height: 100%;
      position: relative;
      padding-right: var(--editor-padding-horizontal-medium);
      overflow: auto;

      > ul {
        padding: 0;

        > li {
          border-radius: 4px;
          border: 1px solid var(--editor-border-color);

          + li {
            margin-top: var(--editor-padding-vertical-medium);
          }
        }
      }

      .componentItemWrapper {
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
        padding: 4px;
        min-height: 100px;
        overflow: hidden;

        + .componentItemWrapper {
          margin-top: var(--editor-padding-vertical-medium);
        }

        .componentItemCoverWrapper {
          position: absolute;
          left: 0;
          top: 0;
          z-index: 100000;
          width: 100%;
          height: 100%;
          cursor: pointer;
        }

        .componentItemPreviewCoverWrapper {
          display: flex;
          align-items: center;
          width: 100%;
          overflow: hidden;
        }
      }
    }
  }

  .openBtnWrapper {
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 110;
    padding: 4px 8px;
    cursor: pointer;
    opacity: 0;
    transition: all ease-in-out 0.3s;
    transition-delay: 0.2s;
    background: var(--editor-pannel-bgcolor);
    transform: translate(100%, -50%);

    &.isVisible {
      opacity: 1;
    }
  }
}
