.wrapper {
  display: flex;
  justify-content: space-between;
  align-content: center;
  font-size: var(--editor-text-font-size-helper);
  padding: var(--editor-padding-vertical-medium) 0;

  > span {
    display: flex;
    align-items: center;
    color: var(--editor-text-color-primary);
  }

  > div > div {
    display: flex;
    align-items: center;
    padding: 4px 8px;
    color: var(--editor-text-color-second);
    border: 1px solid var(--editor-border-color);

    .block {
      display: inline-block;
      width: 16px;
      height: 16px;
      border-radius: 2px;
      margin-right: 4px;
    }
  }
}

:global {
  .ant-popover-inner-content {
    padding: 0 !important;
  }
}
